---
import Layout from '../layouts/Layout.astro';
import '@fontsource/black-ops-one';
// Supports weights 100-900
import '@fontsource-variable/montserrat';
---

<Layout
 title="Carlos Martinez Construcciones S.R.L - Empresa constructura en seco."
 description='Empresa constructora especializada a la construccion en seco.'
 >
 <section id="home" class="wrap py-96">
    
     <div class="content">
        <div class="flex gap-y-2 bg-home justify-center items-center flex-col py-8 w-full h-max text-white">
            <h2 class="text-center text-[48px]">¿Quienes Somos?</h2>    
            <p class="w-[1037px] montserrat">Somos una empresa especializada en construcción en seco, ofreciendo soluciones rápidas, eficientes y de alta calidad para proyectos residenciales, comerciales e industriales. Nos destacamos por el uso de sistemas de construcción modernos como el steel framing, placas de yeso (drywall), y paneles aislantes, que permiten reducir tiempos de obra, minimizar residuos y optimizar costos sin comprometer la seguridad ni el confort.
            </p>  
        </div>
        <div>
            
        </div>
    </div>
    
    
 </section>
    <section id="principal-works"></section>
    <section id="our-works"></section>
    <section id="benefits"></section>
    <section id="form"></section>
</Layout>

<style>
    <style>
        .montserrat{
            font-family: 'Montserrat Variable', sans-serif;
        }
        .bg-home{
            background: linear-gradient(119.14deg, #21254A 30.15%, #4E61AB 53.57%, #2C377D 69.85%);
            opacity: 80%;
        }
    .wrap{
        position: relative;
        height: 1348px;
    }
	.wrap::before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 59%;
        background-image: url('/imgs/moca-2.png');
        background-repeat: no-repeat;
        background-size: cover;
	}
    .content{
        position: relative;
    }
    body{
        font-family: "Black Ops One", system-ui;
    }
</style>
