
    <aside class="bg-orange-500 mt-[70px] w-96 transition-all overflow-hidden h-screen fixed top-0 left-0">
      <ul class="h-full flex flex-col">
         <li>Inicio</li>
         <li>Servicios</li>
         <li>Nuestras Obras</li>
         <li>Benefecios/</li>
         <li>Contacto</li>
      </ul>
    </aside>

