---
import Instagram from "./Icons/Instagram.astro"
import Linkedin from "./Icons/Linkedin.astro"
import Whatsapp from "./Icons/Whatsapp.astro"
import Facebook from "./Icons/Facebook.astro"
import Logo from "./Icons/Logo.astro"
import Iweb from "./Icons/Iweb.astro"

---

<footer class="flex flex-col">
    <div class="py-2 flex flex-col bg-footer">
    <h6 class="text-white mb-2 text-center md:text-[30px]">Tambien podes contactarnos a traves de</h6>
        <ul class="flex flex-col items-center gap-5 md:flex-row justify-between md:justify-center gap-x-32 mb-3">
            <a target="_blank" href="https://www.instagram.com/iweb.cmc/">
                <li class="flex gap-5 justify-center items-center text-white">
                    <Instagram />
                    <p>Instagram</p>
                </li>
            </a>
            <a target="_blank" href="https://www.instagram.com/iweb.cmc/">
                <li class="flex gap-5 justify-center items-center text-white">
                    <Whatsapp/>
                    <p>Whatsapp</p>
                </li>
            </a>
            <a target="_blank" href="https://www.facebook.com/iweb.cmc/">
                <li class="flex gap-5 justify-center items-center text-white">
                    <Facebook />
                    <p>Facebook</p>
                </li>
            </a>
                <a target="_blank" href="https://www.linkedin.com/iweb.cmc/">
                    <li class="flex gap-5 justify-center items-center text-white">
                        <Linkedin />
                        <p>Linkedin</p>
                    </li>
                </a>
        </ul>
    </div>
    <div class="flex flex-col md:flex-row md:gap-0 gap-5 justify-between items-center pl-3">
        <span>@2024 CMC - Todos los derechos reservados</span>
        <Logo class="w-20" />
        <div class="flex items-center text-md">
            <span>Desarrollado por</span>
            <Iweb />
        </div>
    </div>
</footer>
<style>
    .bg-footer{
        background: linear-gradient(270deg, #21254A 1.5%, #3748B0 50%, #21254A 100%);
    }
</style>
