---
import 'photoswipe/style.css';
---

<div class="grid grid-cols-2 px-2 md:grid-cols-3 mx-auto max-h-[1000px] will-change-scroll overflow-y-auto gap-3" id="gallery">
    <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
        </a>
      </div>
      <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
      <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
      <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
      <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
    <!-- wrapped with any element: -->
    <div>
      <a href="/public/imgs/moca-2.png"
        data-pswp-width="2500" 
        data-pswp-height="1667" 
        target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
        
      </a>
    </div>
    <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
      <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
      <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
      <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
      <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
      <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
      <div>
        <a href="/public/imgs/moca-2.png"
          data-pswp-width="2500" 
          data-pswp-height="1667" 
          target="_blank">
          <img class="rounded-2xl" src="/public/imgs/moca-2.png" alt="" />
          
        </a>
      </div>
  </div>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    const lightbox = new PhotoSwipeLightbox({
  gallery: '#gallery',
  children: 'a',
  pswpModule: () => import('photoswipe'),
});
lightbox.init();
</script>