---
import Menu from "./Icons/Menu.astro"
import Logo from "./Icons/Logo.astro"
import Services from "./Icons/Services.astro"
import Home from "./Icons/Home.astro"
import OurWorks from "./Icons/Our-works.astro"
import Beneficios from "./Icons/Beneficios.astro"
import Contact from "./Icons/Contact.astro"

import '@fontsource/black-ops-one';

---

<aside id="aside" class="z-50 bg-bgAside mt-[57px] backdrop-blur-sm md:mt-[70px] transition-all w-0 overflow-hidden h-screen fixed top-0 left-">
    <ul class="h-full overflow-hidden transition-all sm:gap-16 px-2 flex justify-around sm:justify-start flex-col">
        <a href="#home">
            <li class="md:text-lg flex gap-x-2 items-center text-xl">
                <Home />
                Inicio
            </li>
        </a>
        <a href="#works-esp">
            <li class="md:text-lg flex gap-x-2 items-center text-xl">
                <Services />
                Servicios
            </li>
        </a>
        <a href="#our-works">
            <li class="md:text-lg flex gap-x-2 items-center text-xl">
                <OurWorks />
                Nuestras Obras
            </li>
        </a>
        <a href="#benefits">
            <li class="md:text-lg flex gap-x-2 items-center text-xl">
                <Beneficios />
                Benefecios
            </li>
        </a>
            <a href="#form">
                <li class="flex gap-x-2 items-center text-xl">
                    <Contact />
                    Contacto
                </li>
            </a>
    </ul>
  </aside>
  

  <header class="backdrop-blur-sm fixed z-50 flex py-3 h-[57px] gap-5 md:h-[70px] bg-white/70 w-full items-center md:justify-between text-4xl">
    <div class="cursor-pointer pl-5" id="menu">
        <Menu class="font-extralight" />
    </div>
    <div class="flex items-center md:gap-0 gap-16">
        <Logo   
            alt="Logo CMC SRL"
            class="md:w-28 w-20"
        />
    </div>
        <h1 class="underline text-black font-bold text-sm md:text-2xl md:pr-20 pr-5">
            CARLOS MARTINEZ CONSTRUCCIONES S.R.L
        </h1>
</header>
<style>
    p{
        font-family: "Montserrat Variable", sans-serif;
    }
    aside.active{
        width: 371px;
    }

    @media (width: 390px) {
        aside.active{
            width: 300px;
        }
    }
</style>
<script>
    const menu = document.getElementById("menu");
    const aside = document.getElementById("aside")
    menu?.addEventListener("click", () => {
        aside?.classList.toggle("active");
    });
</script>